<div *ngFor="let message of messagesArray">
	{{ message }}
</div>
<hr *ngIf="messagesArray.length">
<div>
	<button class="ui large button" (click)="doWorkWithCallback()">Anonymous Callback</button>
</div>
<div>
	<button class="ui large button" (click)="doWorkWithNamedCallback()">Named Callback</button>
</div>
<div>
	<button class="ui large button" (click)="doWorkWithPromise()">Promises</button>
</div>
<div>
	<button class="ui large button" (click)="doWorkWithObservable()">Observables</button>
</div>
<div>
	<button class="ui large button" (click)="doWorkWithMoreObservable()">More Observable Stuff</button>
</div>
<div>
	<button class="ui large button" (click)="doWorkWithCustomObservable()">Custom Observable</button>
</div>
