<div class="ui justified container">
	<div class="ui stacked segment">
		<h1 class="ui dividing header">EXERCISES</h1>
		<p>A collection of <b>extreme</b> in-class exercises guaranteed to make you better programmers and perhaps even more generous and thorough lovers.</p>
	</div>

	<div class="ui two column grid content">
		<div class="stretched row">
			<div class="column">
				<div class="ui very padded horizontal segment exercise">
					<h3 class="ui header">EXERCISE</h3>
					<div class="headerDecorator">ONE</div>

					<p>Native JavaScript - Planet Express Ship, simple control and DOM manipulation</p>
					<p>
						<a href="https://plnkr.co/edit/Qtqsi74LFTSIheEUlQxn?p=preview" target="_blank">
							<img class="ui mini right spaced image" src="/assets/images/plunker.png">
							https://plnkr.co/edit/Qtqsi74LFTSIheEUlQxn?p=preview
						</a>
					</p>
				</div>
			</div>
			<div class="column">
				<div class="ui very padded horizontal segment exercise">
					<h3 class="ui header">EXERCISE</h3>
					<div class="headerDecorator">TWO</div>

					<p>Angular 1 - Planet Express Ship, simple control and DOM manipulation</p>
					<p>
						<a href="https://plnkr.co/edit/nqKsZxLtJeE0C3GMzSB2?p=preview" target="_blank">
							<img class="ui mini right spaced image" src="/assets/images/plunker.png">
							https://plnkr.co/edit/nqKsZxLtJeE0C3GMzSB2?p=preview
						</a>
					</p>
				</div>
			</div>
		</div>

		<div class="stretched row">
			<div class="column">
				<div class="ui very padded horizontal segment exercise">
					<h3 class="ui header">EXERCISE</h3>
					<div class="headerDecorator">THREE</div>

					<p>Angular 2 - Planet Express Ship, simple control and DOM manipulation (incomplete)</p>
					<p>
						<a href="https://plnkr.co/edit/r7vJw0fMEr4iU7MMmhW9?p=preview" target="_blank">
							<img class="ui mini right spaced image" src="/assets/images/plunker.png">
							https://plnkr.co/edit/r7vJw0fMEr4iU7MMmhW9?p=preview
						</a>
					</p>
				</div>
			</div>
			<div class="column">
				<div class="ui very padded horizontal segment exercise">
					<h3 class="ui header">EXERCISE</h3>
					<div class="headerDecorator">FOUR</div>

					<p>TypeScript - World's Crappiest Card Picker, a contrived but effective exercise to introduce classes, interfaces, decorators and static typing to the Geekwise class</p>

					<p>
						<a href="https://plnkr.co/edit/AArW51AfPMNGRXzfaSDb?p=preview" target="_blank">
							<img class="ui mini right spaced image" src="/assets/images/plunker.png">
							https://plnkr.co/edit/AArW51AfPMNGRXzfaSDb?p=preview
						</a>
					</p>
				</div>
			</div>
		</div>

		<div class="stretched row">
			<div class="column">
				<div class="ui very padded horizontal segment exercise">
					<h3 class="ui header">EXERCISE</h3>
					<div class="headerDecorator">FIVE</div>

					<p>TypeScript - World's Crappiest Card Picker, a contrived but effective exercise to introduce classes, interfaces, decorators and static typing to the Geekwise class, now enhanced with Angular 2 flavour (incomplete)</p>
					<p>
						<a href="https://plnkr.co/edit/r7vJw0fMEr4iU7MMmhW9?p=preview" target="_blank">
							<img class="ui mini right spaced image" src="/assets/images/plunker.png">
							https://plnkr.co/edit/r7vJw0fMEr4iU7MMmhW9?p=preview
						</a>
					</p>
				</div>
			</div>
			<div class="column">
				<div class="ui very padded horizontal segment exercise">
					<h3 class="ui header">EXERCISE</h3>
					<div class="headerDecorator">SIX</div>

					<p>Asynchronous Patterns in JavaScript - Let's look at callbacks, promises and observables</p>
					<gw-async-patterns></gw-async-patterns>
				</div>
			</div>
		</div>
	</div>
</div>