body {
	background: url(assets/images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Arial, sans-serif;
}

input.ng-invalid, select.ng-invalid {
	background-color: lightcoral !important;
}

.ui.button {
	color: gray;
}
